<h1>Te damos la Bienvenida a nuestra Tienda</h1>

<div class="inicio">
    <p>¿ no estas registrado ?</p>
    <a href="/register">registrarse</a>
    <br><br>
    <p>si ya eres usuario</p>
    <a href="/login">iniciar sesion</a>
</div>