<h1>Carrito de Compras</h1>
<div class="carts">
    {{#each products}}
    <div>
        <p>Producto : {{this.product.title}}</p>
        <p>Precio : {{this.product.price}}</p>
        <p>Cantidad : {{this.quantity}}</p>
    </div>
    {{/each}}
    <a href="/tickets">Finalizar compra</a>
</div>