<h1>Inicio de Sesion</h1>
<div class="login">
    <form action="/api/sessions/login" method="POST">
        <label for="email"></label>
        <input type="text" name="email" id="" placeholder="correo " required>
        <br><br>
        <label for="password"></label>
        <input type="text" name="password" id="" placeholder="contraseña" required>
        <br><br>
        <button type="submit">iniciar</button>
    </form>
</div>