<div class="real-time-container">
    <h1>Mis Productos</h1>
    <form class="form" id="formProduct">
        <div>
            <label for="title"></label>
            <input class="label" type="text" name="title" id="title" placeholder="Nombre" required>
        </div>
        <div>
            <label for="description"></label>
            <input class="label" type="text" name="description" id="description" placeholder="Description" required>
        </div>
        <div>
            <label for="price"></label>
            <input class="label" type="number" name="price" id="price" placeholder="Precio" required>
        </div>
        <div>
            <label for="code"></label>
            <input class="label" type="text" name="code" id="code" placeholder="Codigo" required>
        </div>
        <div>
            <label for="stock"></label>
            <input class="label" type="number" name="stock" id="stock" placeholder="Cantidad" required>
        </div>
        <div>
            <button class="button" type="submit" id="add-btn">agregar</button>
        </div>
        <br><br>
        <div>
            <label for="id-prod" class=""></label>
            <div>
                <input class="label" type="number" name="id-prod" id="id-prod" placeholder="Id del producto a eliminar">
            </div>
        </div>
        <div>
            <button class="button" type="button" id="delete-btn">eliminar</button>
        </div>
    </form>

    <div class="real-time" id="list-product">
        {{!-- muestro productos agregados --}}
    </div>
</div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

<script src="js/main.js"></script>