<h1>Registro de Usuario</h1>
<div class="register">
    <form action="/api/sessions/register" method="POST">
        <label for="nombre"></label>
        <input type="text" name="nombre" placeholder="nombre" required>
        <br><br>
        <label for="apellido"></label>
        <input type="text" name="apellido" placeholder="apellido" required>
        <br><br>
        <label for="edad"></label>
        <input type="text" name="edad" placeholder="edad" required>
        <br><br>
        <label for="email"></label>
        <input type="text" name="email" id="" placeholder="correo" required>
        <br><br>
        <label for="password"></label>
        <input type="text" name="password" id="" placeholder="contraseña" required>
        <br><br>
        <button type="submit">registrarse</button>
    </form>
</div>
