<div class="container">
    <h1> ¡¡ Muchas Gracias por su Compra !! </h1>
    <h2>Ticket de Compra</h2>
    <p>id : {{this.ticket._id}}</p>
    <p>total de la compra: {{this.ticket.amount}}</p>
    <p>correo del cliente: {{this.ticket.purchaser}}</p>
    <br><br>
    <a href="/">Ir a inicio</a>
</div>